<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752780593979-1avvvfte69oookeoh9lqjk6o2mmtu7b3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752780593979-1avvvfte69oookeoh9lqjk6o2mmtu7b3</string>
	<key>API_KEY</key>
	<string>AIzaSyAwf1U7zVB9zrctnZmQtRqbAaE7BdMYA7k</string>
	<key>GCM_SENDER_ID</key>
	<string>752780593979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iOSDevJoy.DDooing</string>
	<key>PROJECT_ID</key>
	<string>ddooing-8881b</string>
	<key>STORAGE_BUCKET</key>
	<string>ddooing-8881b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:752780593979:ios:10788a37714cbc50dac51e</string>
	<key>DATABASE_URL</key>
	<string>https://ddooing-8881b-default-rtdb.firebaseio.com</string>
</dict>
</plist>
